h1{
    color: white;
}

#copyForm{
    background-color: black;
    margin-top: 1%;
    height: 300px;
}

#record{
    background-color: #b4202a;
    border: #b4202a;
}

#read{
    background-color: green;
    border: green;
}
